@import './../../../index.scss';

.item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid $light;
	padding: 1rem;
	text-decoration: none;

	.ava {
		background-color: $blue;
		min-width: 3rem;
		height: 3rem;
		border-radius: 50%;
	}
	.info {
		flex-grow: 1;
		padding-left: 1rem;
		color: $black;

		.name {
			font-size: 1.2rem;
			font-weight: 600;
			text-decoration: none;
			color: $black;
		}
		.message {
			max-height: 1.5rem;
			overflow: hidden;
		}
	}
	.date {
		color: $black;

		align-self: start;
		width: 7rem;
		text-align: right;
	}
}
a {
	text-decoration: none;
	&:active {
		color: $black;
	}
	&:visited {
		color: $black;
	}
}
