@import './../../../index.scss';

.item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid $light;
	padding: 1rem;
	text-decoration: none;

	.ava {
		position: relative;
		// background-color: $blue;

		div {
			overflow: hidden;
			min-width: 3rem;
			max-width: 3rem;
			height: 3rem;
			border-radius: 50%;
			width: 100%;

			img {
				width: 100%;
			}
		}

		p {
			position: absolute;
			background-color: $blue;
			color: white;
			top: -12px;
			right: -5px;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			font-size: 0.9rem;
			text-align: center;
		}
	}
	.info {
		flex-grow: 1;
		padding-left: 0.6rem;
		color: $black;
		max-height: 3rem;

		.name {
			font-size: 1.2rem;
			font-weight: 600;
			text-decoration: none;
			color: $black;
		}
		.message {
			max-height: 1.5rem;
			max-width: 11rem;
			overflow: hidden;
		}
	}
	.date {
		color: $black;

		align-self: start;
		min-width: 7rem;
		text-align: right;
	}
}
a {
	text-decoration: none;
	&:active {
		color: $black;
	}
	&:visited {
		color: $black;
	}
}
